#title-wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: -25vh;     
  }
  
  #titles {
    text-align:center
  }
    
  h1 {
    position:absolute;
    left: 0; 
    right: 0; 
    text-transform:uppercase;
    font-family: 'Megrim', sans-serif;
    font-size:10vw;  
  }
  
  #titleA {
    z-index:1;
  }
  
  #titleB {
    color:#f000ff;
    animation: flicker 1s ease infinite alternate;
  }
  
  #titleC {
    color:#74ee15;
    animation: flicker .4s ease infinite alternate-reverse;
  }
  
  @keyframes flicker {
      from {left: -4px;}
      to {left: 4px;}
  }
  
  