.pad {
    width: 150px;
    margin: 2px;
    display:flex;
    flex-direction: column;
}

.pad .play {
    width: 50px;
    height: 50px;
    font-size:40px;
    background: none;
    border: none;
    font-family: 'Megrim', sans-serif;
}

.pad .play:focus {
    outline: 0;
}

.play.off {
   color: #222120
}

.play.on {
   color: #f000ff;
}

.plug.on {
    background-color: yellow;
}

.plug.off {
    background: white;
}

.rate, .volume {
    display:flex;
    padding:3px 0;
    justify-content:space-between;
}

.pad label {
   width:4em;
   display:block;
}