.effects {
    min-width: 200px;    
    height:100%;
    /* overflow-x:auto; */
    display:flex;
    flex-direction:column;
    justify-content:center;
   
}

.effect {
    padding:0 5px;
    margin-top:10px;
    border-left: 1px solid #222120;
}

.effect.on {
    border-left-color: #74ee15;
}

